<div class="container" style="margin-top:70px;">
  <div class="row">
    <div class="col">
      <div *ngFor="let title of genre_list | async">
        <div class="card text-white bg-primary mb-3" style="cursor: pointer"
             [routerLink]="['/titles/'+ title._id]">
          <div class="col">
            <div class="card-header">
              {{ title.title }}
            </div>
          </div>
          <div class="card-body">
            {{ title.description }}
          </div>
          <div class="card-footer" >
            {{ title.listed_in }}
          </div>
          <button type="submit" class="btn btn-primary" [routerLink]="['/titles/'+ title._id]+'/reviews'">Reviews</button>
        </div>
      </div>
    </div> <!-- col -->
  </div> <!-- row -->
  <div class="row">
  </div>
</div> <!-- container -->
