<div class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <img src="assets/64f92f379787233ff3f7b9f33694a336.png">
  <span class="navbar-brand" style="padding: 5px" ></span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink='/'>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/titles'>All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/movies'>Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='/series'>Series</a>
    </li>
  </ul>
  <div class="form-inline ms-auto"
       style="margin-right: 10px;">
    <ng-container
      *ngIf="authService.isAuthenticated$ | async;
          else loggedOut">
      <button class="btn btn-danger"
              (click)="authService.logout()" >Logout
      </button>
    </ng-container>

    <ng-template #loggedOut>
      <button class="btn btn-success"
              (click)="authService.loginWithRedirect({ appState : { target : this.router.url } } )">
        Login
      </button>
    </ng-template>
  </div>

</div>
